@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Colors */
:root {
  --primary-color: #288e86;
  --secondary-color: #4f5a63;
  --accent-color: #1d632d;
  --text-color: #333;
}

/* City Search styles */

#city-search {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.city {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px 0;
}

.city:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suggestions {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.suggestions li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Number of Events styles */

h3 {
  margin-top: 20px;
  font-size: 1.4rem;
  color: var(--primary-color);
}

#number-of-events {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Event List styles */

#event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#event-list li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.location {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--secondary-color);
}

#event-list li:last-child {
  border-bottom: none;
}

.eventDetails {
  font-size: 16px;
  color: var(--text-color);
  padding: 10px 0;
  text-align: left;
}

#show-details,
#hide-details {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}

#show-details:hover,
#hide-details:hover {
  background-color: var(--accent-color);
  opacity: 0.9;
}

.alerts-container {
  display: block;
  margin: 0 auto;
  width: 300px;
  z-index: 1000;
}
