/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.App {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* City Search styles */

#city-search {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.city {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.suggestions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.suggestions li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Number of Events styles */

h3 {
  margin-top: 20px;
  color: #000000;
}

#number-of-events {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Event List styles */

#event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#event-list li {
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
}

.location {
  font-size: 16px;
  font-weight: 600;
}

#event-list li:last-child {
  border-bottom: none;
}

.eventDetails {
  font-size: 16px;
  color: #666;
  padding: 10px 0;
}

#show-details,
#hide-details {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

#show-details:hover,
#hide-details:hover {
  background-color: #29792d;
}
